@import "./src/sass/__variables.scss";

.App {
    display: flex;
    justify-content: center;
    height: calc(100vh - $nav-height);
    background-image: url("../../assets/90s-3-2.png");
    background-position: top;
    // background-color: $secondary-color;
    z-index: -999;
}
