// rgb(18, 30, 39) (dark gray)
// #ff6249 (orange)
// rgb(255, 113, 91) (orange)


$primary-color: rgb(255, 113, 91); //(orange)
$secondary-color: rgb(18, 30, 39); //(dark gray)
$white: #fff;

$nav-height: 10rem;

$font-family-kanit: "Kanit";
$font-family-montserrat: "Montserrat";
$font-family-mada: "Mada";

$section-margin: 10%;
$section-content-margin: 5%;