@import "./src/sass/__variables.scss";

$label-fontSize: 1rem;

@mixin shrinkLabel {
  top: $label-fontSize;
  font-size: $label-fontSize;
  color: $primary-color;
  font-weight: 500;
}

.contact-section {
    margin: 12rem 0 12rem $section-margin;

    .form-box {
        margin-top: 6rem;
        display: flex;
        justify-content: center;

        .form {
            background-color: #faf8f6;
            display: inline-block;
            padding: 0 10rem 10rem 10rem;
            width: 50%;
            box-shadow: rgba(18, 30, 39, 0.2) 5px 5px, rgba(18, 30, 39, 0.2) 10px 10px, rgba(18, 30, 39, 0.1) 15px 15px;
                
            .description-form-box {
                margin-top: 5rem;

                .description-form-title-box {
                    display: flex;
                    align-items: center;
                    font-size: 4rem;
                    color: $primary-color;
                    margin-bottom: 1rem;
                }
                    .description-form-title {
                        margin-right: 1.5rem;
                        font-size: 3.5rem;
                }

                .description-form {
                    font-size: 2rem;
                }
            }

            .group {
                position: relative;
                margin-bottom: 2rem;
            
                .form-input {
                    background: none;
                    background-color: white;
                    color: $secondary-color;
                    font-size: 1.4rem;
                    padding: 2.5rem 1rem 1rem .5rem;
                    display: block;
                    width: 100%;
                    border: none;
                    border-radius: 5px;
                    border-bottom: 2px solid $primary-color;
                    border-right: 2px solid $primary-color;
                    margin: 25px 0;
            
                    &:focus {
                        outline: none;
                    }
            
                    &:focus ~ .form-input-label {
                        @include shrinkLabel();
                    }
                }
            
                .form-input-label {
                    color: $secondary-color;
                    font-size: 1.4rem;
                    font-weight: normal;
                    position: absolute;
                    pointer-events: none;
                    left: 5px;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: 300ms ease all;
            
                    &.shrink {
                        @include shrinkLabel();
                    }

                    &-ast {
                        color: $primary-color;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}



