@import "./src/sass/__variables.scss";
@import "./src/sass/__mixins.scss";

//Bubble 1 variables
$bubble-height: 5rem;
$bubble-position-top: -3rem;
$bubble-position-left: -3rem;

//Bubble 1 animations
$appear-bubble-duration: 5s;
$appear-bubble-delay: 1.5s;

//Bubble 2 variables
$bubble-2-height: 8rem;
$bubble-2-position-left: -7rem;

//Bubble 2 animations
$appear-bubble-2-delay: calc($appear-bubble-duration + $appear-bubble-delay + $appear-bubble-delay);

//Bubble 3 animations
$appear-bubble-3-delay: calc($appear-bubble-duration + $appear-bubble-2-delay + $appear-bubble-delay);

//Bubble 4 animations
$appear-bubble-4-delay: calc($appear-bubble-duration + $appear-bubble-3-delay + $appear-bubble-delay);

//Bubble 5 animations
$appear-bubble-5-delay: calc($appear-bubble-duration + $appear-bubble-4-delay + $appear-bubble-delay);

.description-section {
    display: flex;
    justify-content: center;
    height: calc(100vh - $nav-height);
    background-image: url("../../assets/90s-3-2.png");
    background-position: top;
    position: relative;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
}


.description {
    display: flex;
    justify-content: space-around;
    color: $white;
    margin-top: 15rem;

    @include respond(tablet) {
        margin-top: 5rem;
    }

    @include respond(tablet-port) {
        flex-direction: column;
        margin-top: 0;
        align-items: center;
        justify-content: center;
    }

    &__text {
        background-color: $secondary-color;
        padding: 2rem;
        border-radius: 10px;
        position: relative;
        animation: moveObjectFromLeft .7s;


        &-title {
            font-family: "Mada", sans-serif;
            font-size: 5.5rem;
            font-weight: 400;

            @include respond(tablet-port) {
                font-size: 4rem;
            }

            @include respond(phone) {
                font-size: 5rem;
            }

            span {
                color: $primary-color;
            }
        }

        &-paragraph {
            font-size: 1.6rem;
            margin-top: 1rem;

            span {
                font-size: 2rem;
                color: $primary-color;
            }

            @include respond(tablet-port) {
                font-size: 1.4rem;
            }

            @include respond(phone) {
                font-size: 1.6rem;
            }

        }
    }

    &__photo {
        width: 30rem;
        height: 30rem;

        border-radius: 10px;
        animation: moveObjectFromRight .7s;

        @include respond(tablet-port) {
            width: 25rem;
            height: 25rem;
        }

        @include respond(phone) {
            width: 30rem;
            height: 30rem;
        }
    }

    &__photo-box {
        margin-left: 10rem;
        position: relative;
        z-index: 10;

        @include respond(tablet) {
            margin-left: 0;
            margin-top: 2rem;
        }

        &:before {
            content: '';
            background-color: $white;
            width: 30rem;
            height: 30rem;
            position: absolute;
            border-radius: 10px;
            top: -1rem;
            left: 1rem;
            z-index: -3;
            animation: moveObjectFromFarRight .9s;

            @include respond(tablet-port) {
                width: 25rem;
                height: 25rem;
            }

            @include respond(phone) {
                width: 30rem;
                height: 30rem;
            }

        }

        &-bubble {
            cursor: default;
            opacity: 0;
            position: absolute;
            top: $bubble-position-top;
            height: $bubble-height;
            width: 10rem;
            background-color: $white;
            border-radius: 10px;
            color: black;
            font-family: "Kanit", sans-serif;
            font-size: 2rem;
            font-weight: 300;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);

            animation-name: appearBubble;
            animation-duration: $appear-bubble-duration;
            animation-delay: $appear-bubble-delay;

            span {
                color: $primary-color;
            }
        }

        &-pointer {
            opacity: 0;
            position: absolute;
            top: calc($bubble-height + $bubble-position-top - 1px);
            left: calc(0.5rem - $bubble-position-left);
            width: 0px;
            height: 0px;
            border-right: 1rem solid #fff;
            border-left: .5rem solid transparent;
            border-top: .5rem solid #fff;
            border-bottom: .8rem solid transparent;

            animation-name: appearBubble;
            animation-duration: $appear-bubble-duration;
            animation-delay: $appear-bubble-delay;
        }
    }

    &__icons {
        margin-top: 2rem;
        display: flex;
        justify-content: space-around;
    }
}

.bubble-2 {
    height: $bubble-2-height;
    width: 20rem;

    animation-delay: $appear-bubble-2-delay;
}

.pointer-2 {
    top: calc($bubble-2-height + $bubble-position-top - 1px);
    left: calc(0.5rem - $bubble-2-position-left);

    animation-delay: $appear-bubble-2-delay;
}

.bubble-3 {
    height: $bubble-2-height;
    width: 25rem;

    animation-delay: $appear-bubble-3-delay;
}

.pointer-3 {
    top: calc($bubble-2-height + $bubble-position-top - 1px);
    left: calc(0.5rem - $bubble-2-position-left);

    animation-delay: $appear-bubble-3-delay;
}

.bubble-4 {
    height: $bubble-2-height;
    width: 20rem;

    animation-delay: $appear-bubble-4-delay;
}

.pointer-4 {
    top: calc($bubble-2-height + $bubble-position-top - 1px);
    left: calc(0.5rem - $bubble-2-position-left);

    animation-delay: $appear-bubble-4-delay;
}

.bubble-5 {
    height: $bubble-2-height;
    width: 20rem;

    animation-delay: $appear-bubble-5-delay;
}

.pointer-5 {
    top: calc($bubble-2-height + $bubble-position-top - 1px);
    left: calc(0.5rem - $bubble-2-position-left);

    animation-delay: $appear-bubble-5-delay;
}


@keyframes appearBubble {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }


    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes moveObjectFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}



@keyframes moveObjectFromRight {
    0% {
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes moveObjectFromFarRight {
    0% {
        transform: translateX(15rem);
    }

    70% {
        transform: translateX(-2.5rem);
    }

    80% {
        transform: translateX(-3rem);
    }

    100% {
        transform: translateX(0);
    }
}