@import "./src/sass/__variables.scss";

.section {    
    &__title-box {
        display: inline-block;
        position: relative;
        margin-bottom: 3rem;
    }
    
    &__title {
        font-size: 4rem;
        font-weight: 400;
        z-index: 5;
        position: relative;
    
        &-border {
            position: absolute;
            bottom: -0.5rem;
            width: 50%;
            height: 1rem;
            background-color: $primary-color;
        }
    }
}