@import "./src/sass/__variables.scss";

.about-section {
    position: relative;
    padding-bottom: 16rem;
    background-color: $secondary-color;
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.3), 0 -4px 10px 0 rgba(0, 0, 0, 0.3);

    &__content {
        margin: 0 $section-margin;
        width: calc(100% - 2*$section-margin);
        color: white;
    }

    &__skill-section {
        color: white;
        margin-left: 5%;
        margin-top: 4rem;

        &-title {
            display: inline-block;
            border-bottom: solid 3px $primary-color;
            font-weight: 400;
            font-size: 1.8rem;
            letter-spacing: .2rem;
        }
    }

    &__skills-set {
        display: flex;
        margin-top: 3rem;
    }
}