@import "./src/sass/__mixins.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  //this defines what 1 rem is
  font-size: 62.5%;

  @include respond(tablet) {
    font-size: 50%;
  }

  @include respond(phone) {
    font-size: 40%;
  }

  @include respond(big) {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}
